@import 'scss-reset/_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

$beerColor: #F2994A;
$darkBeerColor : #D38037;
$bubbles: #FAD6B7;
$beerFoam: #FEF4E6;

// sizes 
$headerHeight: 85px;
$pu: 20px;


body {
    // background: red;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    background: #DEDEDE;
}

*:not(input):not(textarea) {
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    margin: auto;
    width: 100%;
    max-width: 414px;
    overflow: hidden;
    height: 100vh;
    max-height: 736px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
}